<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Shopping Basket Application</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Item List</h1>
	<br/>
	
	<table>   
	  <tr>
	  		<th>Item ID</th>
	  		<th>Item Name</th>
	  		<th>Item Description</th>
	  		<th>Price</th>
	  		<th>Add Item</th>
	  </tr>

      <div th:each="item : ${items}">
	      <tr>
				
		        <td><img width="60" height="40" th:src="@{/images/grocery01.jpg}"/>
		        <span style="width:40px;" th:text="${item.itemId}" >CONTAINER</span></td>
		        <td><span style="width:150px;" th:text="${item.name}" >CONTAINER</span></td>
		        <td><span style="width:150px;" th:text="${item.description}" >CONTAINER</span></td>
		        <td><span style="width:150px;" th:text="${item.price}" >CONTAINER</span></td>
		        <td><span style="width:150px;"><a th:href="@{'/showBasketList/addItem/{id}'(id=${item.itemId})}"><button>Add Item</button></a></span></td>
	      </tr>
      </div>
    </table>



  </body>
</html>
