<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Shopping Basket Application</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Item List</h1>

    <form method="POST" th:object="${showBasketList}">


    <div class="grid">
	  <div class="item-group" id="itemList">
      <div th:each="item : ${items}">
      	<div class="container">
	        <ul>
	        <li><img width="60" height="40" th:src="@{/images/grocery01.jpg}"/>
	        <span style="width:40px;" th:text="${item.itemId}" >CONTAINER</span>
	        <span style="width:150px;" th:text="${item.name}" >CONTAINER</span>
	        <span style="width:150px;" th:text="${item.description}" >CONTAINER</span>
	        <span style="width:150px;" th:text="${item.price}" >CONTAINER</span>
	        <span style="width:150px;"><a th:href="@{'/showBasketList/addItem/{id}'(id=${item.itemId})}">Add Item</a></span>
	        </li>
	        </ul>
	    </div>
      </div>
      </div>
      
    </div>


    </form>
  </body>
</html>
